@model Tienda_electronica.Models.Usuario

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header" style="background-color: var(--color-dark-gray); color: var(--color-white);">
            <h2 class="mb-0">Detalles del Usuario</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 text-muted">@Html.DisplayNameFor(model => model.username)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.username)</dd>

                <dt class="col-sm-3 text-muted">@Html.DisplayNameFor(model => model.password)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.password)</dd>

                <dt class="col-sm-3 text-muted">@Html.DisplayNameFor(model => model.nombre)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.nombre)</dd>

                <dt class="col-sm-3 text-muted">@Html.DisplayNameFor(model => model.apellido)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.apellido)</dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-start gap-2">
            <a asp-action="Edit" asp-route-id="@Model?.IdUsuario" class="btn btn-black">Editar</a>
            @if (User.IsInRole("Usuario"))
            {
              <a asp-action="Index" asp-controller="Usuarios" class="btn btn-black">Volver al listado</a>   
            }
           
        </div>
    </div>
</div>
